**/node_modules
**/build
**/dist
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/.git
**/.gitignore
**/.env
**/.env.local
**/.env.*.local
**/test_reports
**/tests
**/coverage
.emergent
memory
